<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/spider1.jpg" class="d-block w-100" alt="spider1">
      </div>
      <div class="carousel-item">
        <img src="/assets/spider2.jpg" class="d-block w-100" alt="spider1">
      </div>
      <div class="carousel-item">
        <img src="/assets/spider3.jpg" class="d-block w-100" alt="spider1">
      </div>
    </div>
  </div>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum officia excepturi recusandae. Deleniti sapiente tempora id consequatur numquam dolor dignissimos, animi vel ut enim tempore nulla quaerat cupiditate aliquam pariatur libero praesentium, placeat ducimus sint labore. Error atque perspiciatis facilis, natus tempora exercitationem sed deserunt architecto vitae obcaecati quibusdam. Sit suscipit dolore nam alias, voluptatibus dolores? Dolores enim asperiores nobis omnis possimus fugit cum veniam, voluptates temporibus expedita earum quae explicabo aspernatur, placeat eos officia autem est sint voluptatibus doloremque! Ex dignissimos cupiditate et, molestias rerum quis cumque tempore, earum corporis beatae nihil error eveniet veniam repellendus excepturi nulla?</p>
